USE [master]
GO
/****** Object:  Database [DB_Clinica]    Script Date: 3/7/2026 02:06:06 ******/
CREATE DATABASE [DB_Clinica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Clinica', FILENAME = N'/var/opt/mssql/data/DB_Clinica.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Clinica_log', FILENAME = N'/var/opt/mssql/data/DB_Clinica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Clinica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Clinica]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[id_paciente] [int] IDENTITY(1,1) NOT NULL,
	[id_persona] [int] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Paciente] PRIMARY KEY CLUSTERED 
(
	[id_paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Pac_Persona] UNIQUE NONCLUSTERED 
(
	[id_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[id_provincia] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[id_provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Provincia_Nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localidad]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidad](
	[id_localidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[id_provincia] [int] NOT NULL,
 CONSTRAINT [PK_Localidad] PRIMARY KEY CLUSTERED 
(
	[id_localidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Loc_NomProv] UNIQUE NONCLUSTERED 
(
	[nombre] ASC,
	[id_provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[id_persona] [int] IDENTITY(1,1) NOT NULL,
	[dni] [nvarchar](15) NOT NULL,
	[nombre] [nvarchar](80) NOT NULL,
	[apellido] [nvarchar](80) NOT NULL,
	[sexo] [char](1) NOT NULL,
	[nacionalidad] [nvarchar](50) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[direccion] [nvarchar](150) NOT NULL,
	[id_localidad] [int] NOT NULL,
	[email] [nvarchar](120) NOT NULL,
	[telefono] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[id_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Persona_DNI] UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Pacientes]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[vw_Pacientes] AS
    SELECT
        pa.id_paciente,
        pa.activo           AS Activo,
        pe.id_persona       AS ID_Persona,
        pe.dni              AS DNI,
        pe.apellido         AS Apellido,
        pe.nombre           AS Nombre,
        pe.sexo             AS Sexo,
        pe.nacionalidad     AS Nacionalidad,
        pe.fecha_nacimiento AS FechaNacimiento,
        pe.direccion        AS Direccion,
        l.id_localidad      AS ID_Localidad,
        l.nombre            AS Localidad,
        pr.id_provincia     AS ID_Provincia,
        pe.email            AS Email,
        pe.telefono         AS Telefono
    FROM  Paciente  pa
    JOIN  Persona   pe ON pe.id_persona   = pa.id_persona
    JOIN  Localidad l  ON l.id_localidad  = pe.id_localidad
    JOIN  Provincia pr ON pr.id_provincia = l.id_provincia
GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[id_especialidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_Especialidad] PRIMARY KEY CLUSTERED 
(
	[id_especialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Especialidad_Nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico](
	[id_medico] [int] IDENTITY(1,1) NOT NULL,
	[id_persona] [int] NOT NULL,
	[legajo] [nvarchar](20) NOT NULL,
	[id_especialidad] [int] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Medico] PRIMARY KEY CLUSTERED 
(
	[id_medico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Med_Persona] UNIQUE NONCLUSTERED 
(
	[id_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Medico_Legajo] UNIQUE NONCLUSTERED 
(
	[legajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](60) NOT NULL,
	[password] [nvarchar](256) NOT NULL,
	[tipo] [nvarchar](10) NOT NULL,
	[id_medico] [int] NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usr_Medico] UNIQUE NONCLUSTERED 
(
	[id_medico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuario_Name] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Medicos]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Medicos]
AS
SELECT        m.id_medico, m.legajo, pe.dni, pe.apellido, pe.nombre, pe.sexo, pe.nacionalidad, pe.fecha_nacimiento AS FechaNacimiento, pe.direccion, l.nombre AS Localidad, pr.nombre AS Provincia, pe.email, pe.telefono, 
                         e.nombre AS Especialidad, u.username AS Usuario, CASE WHEN u.id_usuario IS NOT NULL THEN 1 ELSE 0 END AS TieneAcceso, m.activo, m.id_especialidad
FROM            dbo.Medico AS m INNER JOIN
                         dbo.Persona AS pe ON pe.id_persona = m.id_persona INNER JOIN
                         dbo.Localidad AS l ON l.id_localidad = pe.id_localidad INNER JOIN
                         dbo.Provincia AS pr ON pr.id_provincia = l.id_provincia INNER JOIN
                         dbo.Especialidad AS e ON e.id_especialidad = m.id_especialidad LEFT OUTER JOIN
                         dbo.Usuario AS u ON u.id_medico = m.id_medico
GO
/****** Object:  Table [dbo].[Turno]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turno](
	[id_turno] [int] IDENTITY(1,1) NOT NULL,
	[id_medico] [int] NOT NULL,
	[id_paciente] [int] NOT NULL,
	[fecha_hora] [datetime] NOT NULL,
	[estado] [nvarchar](10) NOT NULL,
	[observacion] [nvarchar](500) NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Turno] PRIMARY KEY CLUSTERED 
(
	[id_turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Turno_MedicoFecha] UNIQUE NONCLUSTERED 
(
	[id_medico] ASC,
	[fecha_hora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Turnos]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Turnos]
AS
SELECT        t.id_turno, t.fecha_hora AS FechaHora, CONVERT(DATE, t.fecha_hora) AS Fecha, CONVERT(TIME(0), t.fecha_hora) AS Hora, t.estado, t.observacion, m.id_medico, pem.apellido + ', ' + pem.nombre AS Medico, 
                         e.nombre AS Especialidad, pa.id_paciente, pep.apellido + ', ' + pep.nombre AS Paciente, pep.dni AS PacienteDNI, t.activo
FROM            dbo.Turno AS t INNER JOIN
                         dbo.Medico AS m ON m.id_medico = t.id_medico INNER JOIN
                         dbo.Persona AS pem ON pem.id_persona = m.id_persona INNER JOIN
                         dbo.Especialidad AS e ON e.id_especialidad = m.id_especialidad INNER JOIN
                         dbo.Paciente AS pa ON pa.id_paciente = t.id_paciente INNER JOIN
                         dbo.Persona AS pep ON pep.id_persona = pa.id_persona
WHERE        (m.activo = 1) AND (pa.activo = 1)
GO
/****** Object:  Table [dbo].[HorarioMedico]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorarioMedico](
	[id_horario] [int] IDENTITY(1,1) NOT NULL,
	[id_medico] [int] NOT NULL,
	[dia_semana] [tinyint] NOT NULL,
	[hora_inicio] [time](0) NOT NULL,
	[hora_fin] [time](0) NOT NULL,
 CONSTRAINT [PK_HorarioMedico] PRIMARY KEY CLUSTERED 
(
	[id_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Hor_MedicoDiaInicio] UNIQUE NONCLUSTERED 
(
	[id_medico] ASC,
	[dia_semana] ASC,
	[hora_inicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_HorariosMedicos]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_HorariosMedicos] AS
    SELECT
        h.id_horario,
        h.id_medico,
        pe.apellido + ', ' + pe.nombre AS Medico,
        e.nombre                        AS Especialidad,
        h.dia_semana                    AS DiaSemana,
        CASE h.dia_semana
            WHEN 1 THEN 'Lunes'     WHEN 2 THEN 'Martes'
            WHEN 3 THEN 'Miércoles' WHEN 4 THEN 'Jueves'
            WHEN 5 THEN 'Viernes'   WHEN 6 THEN 'Sábado'
            WHEN 7 THEN 'Domingo'
        END                             AS NombreDia,
        h.hora_inicio                   AS HoraInicio,
        h.hora_fin                      AS HoraFin
    FROM  HorarioMedico h
    JOIN  Medico        m  ON m.id_medico       = h.id_medico
    JOIN  Persona       pe ON pe.id_persona     = m.id_persona
    JOIN  Especialidad  e  ON e.id_especialidad = m.id_especialidad
    WHERE m.activo = 1;
GO
/****** Object:  View [dbo].[vw_LocalidadesXProvincia]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_LocalidadesXProvincia]
AS
SELECT        dbo.Provincia.nombre AS Provincia, dbo.Localidad.nombre AS Localidad
FROM            dbo.Provincia INNER JOIN
                         dbo.Localidad ON dbo.Provincia.id_provincia = dbo.Localidad.id_provincia
GO
/****** Object:  View [dbo].[vw_Medicos_Activos]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Medicos_Activos]
AS
SELECT        id_medico, legajo, dni, apellido, nombre, sexo, nacionalidad, FechaNacimiento, direccion, Localidad, Provincia, email, telefono, Especialidad, Usuario, TieneAcceso, activo, id_especialidad
FROM            dbo.vw_Medicos
WHERE        (activo = 1)
GO
/****** Object:  View [dbo].[vw_Pacientes_Activos]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Pacientes_Activos]
AS
SELECT        id_paciente, Activo, ID_Persona, DNI, Apellido, Nombre, Sexo, Nacionalidad, FechaNacimiento, Direccion, ID_Localidad, Localidad, ID_Provincia, Email, Telefono
FROM            dbo.vw_Pacientes
WHERE        (Activo = 1)
GO
/****** Object:  View [dbo].[vw_Turnos_Activos]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Turnos_Activos]
AS
SELECT        id_turno, FechaHora, Fecha, Hora, estado, observacion, id_medico, Medico, Especialidad, id_paciente, Paciente, PacienteDNI, activo
FROM            dbo.vw_Turnos
WHERE        (activo = 1)
GO
/****** Object:  Index [IX_HorarioMedico_Medico]    Script Date: 3/7/2026 02:06:08 ******/
CREATE NONCLUSTERED INDEX [IX_HorarioMedico_Medico] ON [dbo].[HorarioMedico]
(
	[id_medico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Localidad_Provincia]    Script Date: 3/7/2026 02:06:08 ******/
CREATE NONCLUSTERED INDEX [IX_Localidad_Provincia] ON [dbo].[Localidad]
(
	[id_provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Medico_Especialidad]    Script Date: 3/7/2026 02:06:08 ******/
CREATE NONCLUSTERED INDEX [IX_Medico_Especialidad] ON [dbo].[Medico]
(
	[id_especialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Persona_Apellido]    Script Date: 3/7/2026 02:06:08 ******/
CREATE NONCLUSTERED INDEX [IX_Persona_Apellido] ON [dbo].[Persona]
(
	[apellido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Persona_DNI]    Script Date: 3/7/2026 02:06:08 ******/
CREATE NONCLUSTERED INDEX [IX_Persona_DNI] ON [dbo].[Persona]
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Turno_Estado]    Script Date: 3/7/2026 02:06:08 ******/
CREATE NONCLUSTERED INDEX [IX_Turno_Estado] ON [dbo].[Turno]
(
	[estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Turno_FechaHora]    Script Date: 3/7/2026 02:06:08 ******/
CREATE NONCLUSTERED INDEX [IX_Turno_FechaHora] ON [dbo].[Turno]
(
	[fecha_hora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Turno_Paciente]    Script Date: 3/7/2026 02:06:08 ******/
CREATE NONCLUSTERED INDEX [IX_Turno_Paciente] ON [dbo].[Turno]
(
	[id_paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Medico] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Paciente] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Turno] ADD  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[Turno] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[HorarioMedico]  WITH CHECK ADD  CONSTRAINT [FK_Hor_Med] FOREIGN KEY([id_medico])
REFERENCES [dbo].[Medico] ([id_medico])
GO
ALTER TABLE [dbo].[HorarioMedico] CHECK CONSTRAINT [FK_Hor_Med]
GO
ALTER TABLE [dbo].[Localidad]  WITH CHECK ADD  CONSTRAINT [FK_Loc_Prov] FOREIGN KEY([id_provincia])
REFERENCES [dbo].[Provincia] ([id_provincia])
GO
ALTER TABLE [dbo].[Localidad] CHECK CONSTRAINT [FK_Loc_Prov]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Med_Esp] FOREIGN KEY([id_especialidad])
REFERENCES [dbo].[Especialidad] ([id_especialidad])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Med_Esp]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Med_Persona] FOREIGN KEY([id_persona])
REFERENCES [dbo].[Persona] ([id_persona])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Med_Persona]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [FK_Pac_Persona] FOREIGN KEY([id_persona])
REFERENCES [dbo].[Persona] ([id_persona])
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [FK_Pac_Persona]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Per_Loc] FOREIGN KEY([id_localidad])
REFERENCES [dbo].[Localidad] ([id_localidad])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Per_Loc]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Tur_Med] FOREIGN KEY([id_medico])
REFERENCES [dbo].[Medico] ([id_medico])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Tur_Med]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Paciente] FOREIGN KEY([id_paciente])
REFERENCES [dbo].[Paciente] ([id_paciente])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_Paciente]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usr_Med] FOREIGN KEY([id_medico])
REFERENCES [dbo].[Medico] ([id_medico])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usr_Med]
GO
ALTER TABLE [dbo].[HorarioMedico]  WITH CHECK ADD  CONSTRAINT [CK_Hor_DiaSemana] CHECK  (([dia_semana]>=(1) AND [dia_semana]<=(7)))
GO
ALTER TABLE [dbo].[HorarioMedico] CHECK CONSTRAINT [CK_Hor_DiaSemana]
GO
ALTER TABLE [dbo].[HorarioMedico]  WITH CHECK ADD  CONSTRAINT [CK_Hor_Horas] CHECK  (([hora_fin]>[hora_inicio]))
GO
ALTER TABLE [dbo].[HorarioMedico] CHECK CONSTRAINT [CK_Hor_Horas]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [CK_Persona_Sexo] CHECK  (([sexo]='X' OR [sexo]='F' OR [sexo]='M'))
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [CK_Persona_Sexo]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [CK_Turno_Estado] CHECK  (([estado]='ausente' OR [estado]='presente' OR [estado]='pendiente'))
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [CK_Turno_Estado]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [CK_Usuario_Coherencia] CHECK  (([tipo]='admin' AND [id_medico] IS NULL OR [tipo]='medico' AND [id_medico] IS NOT NULL))
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [CK_Usuario_Coherencia]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [CK_Usuario_Tipo] CHECK  (([tipo]='medico' OR [tipo]='admin'))
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [CK_Usuario_Tipo]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarEstadoPaciente]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ActualizarEstadoPaciente]
    @IdPaciente INT,
    @Activo BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Paciente
    SET Activo = @Activo
    WHERE Id_Paciente = @IdPaciente;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Informe_Asistencia]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Informe_Asistencia]
    @fecha_desde DATE,
    @fecha_hasta DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        COUNT(*)                                                AS TotalTurnos,
        SUM(CASE WHEN Estado = 'presente'  THEN 1 ELSE 0 END)  AS TotalPresentes,
        SUM(CASE WHEN Estado = 'ausente'   THEN 1 ELSE 0 END)  AS TotalAusentes,
        SUM(CASE WHEN Estado = 'pendiente' THEN 1 ELSE 0 END)  AS TotalPendientes,
        ROUND(100.0 * SUM(CASE WHEN Estado = 'presente' THEN 1 ELSE 0 END)
              / NULLIF(COUNT(*), 0), 2)                        AS PctPresentes,
        ROUND(100.0 * SUM(CASE WHEN Estado = 'ausente'  THEN 1 ELSE 0 END)
              / NULLIF(COUNT(*), 0), 2)                        AS PctAusentes
    FROM  vw_Turnos
    WHERE Fecha BETWEEN @fecha_desde AND @fecha_hasta;

    SELECT
        Paciente     AS NombrePaciente,
        PacienteDNI  AS DNI,
        Medico       AS Medico,
        Especialidad AS Especialidad,
        FechaHora    AS FechaHoraTurno
    FROM  vw_Turnos
    WHERE Fecha BETWEEN @fecha_desde AND @fecha_hasta
      AND Estado = 'ausente'
    ORDER BY FechaHora;

    SELECT
        Paciente     AS NombrePaciente,
        PacienteDNI  AS DNI,
        Medico       AS Medico,
        Especialidad AS Especialidad,
        FechaHora    AS FechaHoraTurno,
        Observacion  AS ObservacionConsulta
    FROM  vw_Turnos
    WHERE Fecha BETWEEN @fecha_desde AND @fecha_hasta
      AND Estado = 'presente'
    ORDER BY FechaHora;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Informe_CargaMedicos]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Informe_CargaMedicos]
    @fecha_desde DATE,
    @fecha_hasta DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        pe.apellido + ', ' + pe.nombre                          AS Medico,
        e.nombre                                                AS Especialidad,
        COUNT(t.id_turno)                                       AS TotalTurnos,
        SUM(CASE WHEN t.estado = 'presente'  THEN 1 ELSE 0 END) AS Presentes,
        SUM(CASE WHEN t.estado = 'ausente'   THEN 1 ELSE 0 END) AS Ausentes,
        SUM(CASE WHEN t.estado = 'pendiente' THEN 1 ELSE 0 END) AS Pendientes,
        ROUND(100.0 * SUM(CASE WHEN t.estado = 'ausente' THEN 1 ELSE 0 END)
              / NULLIF(COUNT(t.id_turno), 0), 2)                AS PctAusentismo
    FROM  Turno      t
    JOIN  Medico     m  ON m.id_medico        = t.id_medico
    JOIN  Persona    pe ON pe.id_persona      = m.id_persona
    JOIN  Especialidad e ON e.id_especialidad = m.id_especialidad
    WHERE CONVERT(DATE, t.fecha_hora) BETWEEN @fecha_desde AND @fecha_hasta
      AND t.activo = 1
    GROUP BY m.id_medico, pe.apellido, pe.nombre, e.nombre
    ORDER BY TotalTurnos DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Login]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Login]
    @username NVARCHAR(60),
    @tipo     NVARCHAR(10) OUTPUT,
    @id_ref   INT          OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT @tipo   = u.tipo,
           @id_ref = u.id_medico
    FROM   Usuario u
    WHERE  u.username = @username
      AND  u.activo   = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Medico_Activar]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Medico_Activar]
    @id_medico INT,
    @mensaje   NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Medico WHERE id_medico = @id_medico)
    BEGIN SET @mensaje = 'El médico no fue encontrado.'; RETURN; END

    UPDATE Medico  SET activo = 1 WHERE id_medico = @id_medico;
    UPDATE Usuario SET activo = 1 WHERE id_medico = @id_medico;
    SET @mensaje = 'Médico reactivado correctamente.';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Medico_Alta]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Medico_Alta]
    @legajo           NVARCHAR(20),
    @dni              NVARCHAR(15),
    @nombre           NVARCHAR(80),
    @apellido         NVARCHAR(80),
    @sexo             CHAR(1),
    @nacionalidad     NVARCHAR(50),
    @fecha_nacimiento DATE,
    @direccion        NVARCHAR(150),
    @id_localidad     INT,
    @email            NVARCHAR(120),
    @telefono         NVARCHAR(30),
    @id_especialidad  INT,
    @nuevo_id         INT           OUTPUT,
    @mensaje          NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM Persona WHERE dni = @dni)
    BEGIN SET @mensaje = 'Ya existe una persona registrada con ese DNI.'; SET @nuevo_id = -1; RETURN; END
    IF EXISTS (SELECT 1 FROM Medico WHERE legajo = @legajo AND activo = 1)
    BEGIN SET @mensaje = 'Ya existe un médico activo con ese legajo.';   SET @nuevo_id = -1; RETURN; END

    BEGIN TRANSACTION;
    BEGIN TRY
        INSERT INTO Persona
            (dni, nombre, apellido, sexo, nacionalidad,
             fecha_nacimiento, direccion, id_localidad, email, telefono)
        VALUES
            (@dni, @nombre, @apellido, @sexo, @nacionalidad,
             @fecha_nacimiento, @direccion, @id_localidad, @email, @telefono);
        SET @nuevo_id = SCOPE_IDENTITY();
        INSERT INTO Medico (id_persona, legajo, id_especialidad)
        VALUES (@nuevo_id, @legajo, @id_especialidad);
        SET @nuevo_id = SCOPE_IDENTITY();
        COMMIT TRANSACTION;
        SET @mensaje = 'Médico agregado correctamente.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @nuevo_id = -1;
        SET @mensaje  = ERROR_MESSAGE();
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Medico_Baja]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Medico_Baja]
    @id_medico INT,
    @mensaje   NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM Turno
               WHERE id_medico = @id_medico AND estado = 'pendiente'
                 AND fecha_hora > GETDATE() AND activo = 1)
    BEGIN SET @mensaje = 'El médico tiene turnos pendientes futuros.'; RETURN; END

    UPDATE Medico  SET activo = 0 WHERE id_medico = @id_medico;
    UPDATE Usuario SET activo = 0 WHERE id_medico = @id_medico;
    SET @mensaje = 'Médico dado de baja correctamente.';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Medico_Listar]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Medico_Listar]
    @busqueda        NVARCHAR(100) = NULL,
    @id_especialidad INT           = NULL,
    @pagina          INT           = 1,
    @por_pagina      INT           = 10,
    @total_filas     INT           OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT @total_filas = COUNT(*)
    FROM   vw_Medicos vm
    WHERE  (@busqueda IS NULL
            OR vm.Apellido LIKE '%' + @busqueda + '%'
            OR vm.Nombre   LIKE '%' + @busqueda + '%'
            OR vm.DNI      LIKE '%' + @busqueda + '%'
            OR vm.Legajo   LIKE '%' + @busqueda + '%')
      AND  (@id_especialidad IS NULL OR vm.id_medico IN (
                SELECT id_medico FROM Medico WHERE id_especialidad = @id_especialidad));

    SELECT *
    FROM   vw_Medicos vm
    WHERE  (@busqueda IS NULL
            OR vm.Apellido LIKE '%' + @busqueda + '%'
            OR vm.Nombre   LIKE '%' + @busqueda + '%'
            OR vm.DNI      LIKE '%' + @busqueda + '%'
            OR vm.Legajo   LIKE '%' + @busqueda + '%')
      AND  (@id_especialidad IS NULL OR vm.id_medico IN (
                SELECT id_medico FROM Medico WHERE id_especialidad = @id_especialidad))
    ORDER  BY vm.Apellido, vm.Nombre
    OFFSET (@pagina - 1) * @por_pagina ROWS
    FETCH  NEXT @por_pagina ROWS ONLY;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Medico_Modificar]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Medico_Modificar]
    @id_medico        INT,
    @nombre           NVARCHAR(80)  = NULL,
    @apellido         NVARCHAR(80)  = NULL,
    @sexo             CHAR(1)       = NULL,
    @nacionalidad     NVARCHAR(50)  = NULL,
    @fecha_nacimiento DATE          = NULL,
    @direccion        NVARCHAR(150) = NULL,
    @id_localidad     INT           = NULL,
    @email            NVARCHAR(120) = NULL,
    @telefono         NVARCHAR(30)  = NULL,
    @legajo           NVARCHAR(20)  = NULL,
    @id_especialidad  INT           = NULL,
    @mensaje          NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Persona SET
        nombre           = COALESCE(@nombre,           nombre),
        apellido         = COALESCE(@apellido,         apellido),
        sexo             = COALESCE(@sexo,             sexo),
        nacionalidad     = COALESCE(@nacionalidad,     nacionalidad),
        fecha_nacimiento = COALESCE(@fecha_nacimiento, fecha_nacimiento),
        direccion        = COALESCE(@direccion,        direccion),
        id_localidad     = COALESCE(@id_localidad,     id_localidad),
        email            = COALESCE(@email,            email),
        telefono         = COALESCE(@telefono,         telefono)
    WHERE id_persona = (SELECT id_persona FROM Medico WHERE id_medico = @id_medico);

    UPDATE Medico SET
        legajo          = COALESCE(@legajo,          legajo),
        id_especialidad = COALESCE(@id_especialidad, id_especialidad)
    WHERE id_medico = @id_medico AND activo = 1;

    IF @@ROWCOUNT = 0 SET @mensaje = 'Médico no encontrado.';
    ELSE               SET @mensaje = 'Médico modificado correctamente.';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Paciente_Alta]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_Paciente_Alta]
    @dni              NVARCHAR(15),
    @nombre           NVARCHAR(80),
    @apellido         NVARCHAR(80),
    @sexo             CHAR(1),
    @nacionalidad     NVARCHAR(50),
    @fecha_nacimiento DATE,
    @direccion        NVARCHAR(150),
    @id_localidad     INT,
    @email            NVARCHAR(120),
    @telefono         NVARCHAR(30)
             
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    IF EXISTS (SELECT 1 FROM Persona WHERE dni = @dni)
    BEGIN
        RETURN;
    END
    BEGIN TRANSACTION;
    BEGIN TRY
        INSERT INTO Persona
            (dni, nombre, apellido, sexo, nacionalidad,
             fecha_nacimiento, direccion, id_localidad, email, telefono)
        VALUES
            (@dni, @nombre, @apellido, @sexo, @nacionalidad,
             @fecha_nacimiento, @direccion, @id_localidad, @email, @telefono);
        DECLARE @id_persona INT = SCOPE_IDENTITY();
        INSERT INTO Paciente (id_persona) VALUES ( @id_persona);
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        RETURN;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Paciente_Baja]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Paciente_Baja]
    @id_paciente INT,
    @mensaje     NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM Paciente WHERE id_paciente = @id_paciente AND activo = 1)
    BEGIN SET @mensaje = 'Paciente no encontrado o ya estaba inactivo.'; RETURN; END

    IF EXISTS (SELECT 1 FROM Turno
               WHERE id_paciente = @id_paciente
                 AND estado      = 'pendiente'
                 AND fecha_hora  > GETDATE()
                 AND activo      = 1)
    BEGIN SET @mensaje = 'El paciente tiene turnos futuros pendientes. Cancélelos antes de dar de baja.'; RETURN; END

    UPDATE Paciente SET activo = 0 WHERE id_paciente = @id_paciente;
    SET @mensaje = 'Paciente dado de baja correctamente.';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Paciente_Listar]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Paciente_Listar]
    @busqueda     NVARCHAR(100) = NULL,
    @id_localidad INT           = NULL,
    @pagina       INT           = 1,
    @por_pagina   INT           = 10,
    @total_filas  INT           OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT @total_filas = COUNT(*)
    FROM   vw_Pacientes vp
    WHERE  (@busqueda IS NULL
            OR vp.Apellido LIKE '%' + @busqueda + '%'
            OR vp.Nombre   LIKE '%' + @busqueda + '%'
            OR vp.DNI      LIKE '%' + @busqueda + '%')
      AND  (@id_localidad IS NULL OR vp.id_paciente IN (
                SELECT pa.id_paciente FROM Paciente pa
                JOIN Persona pe ON pe.id_persona = pa.id_persona
                WHERE pe.id_localidad = @id_localidad));

    SELECT *
    FROM   vw_Pacientes vp
    WHERE  (@busqueda IS NULL
            OR vp.Apellido LIKE '%' + @busqueda + '%'
            OR vp.Nombre   LIKE '%' + @busqueda + '%'
            OR vp.DNI      LIKE '%' + @busqueda + '%')
      AND  (@id_localidad IS NULL OR vp.id_paciente IN (
                SELECT pa.id_paciente FROM Paciente pa
                JOIN Persona pe ON pe.id_persona = pa.id_persona
                WHERE pe.id_localidad = @id_localidad))
    ORDER  BY vp.Apellido, vp.Nombre
    OFFSET (@pagina - 1) * @por_pagina ROWS
    FETCH  NEXT @por_pagina ROWS ONLY;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Paciente_Modificar]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_Paciente_Modificar]
    @id_paciente      INT,
    @nombre           NVARCHAR(80)  = NULL,
    @apellido         NVARCHAR(80)  = NULL,
    @sexo             CHAR(1)       = NULL,
    @nacionalidad     NVARCHAR(50)  = NULL,
    @fecha_nacimiento DATE          = NULL,
    @direccion        NVARCHAR(150) = NULL,
    @id_localidad     INT           = NULL,
    @email            NVARCHAR(120) = NULL,
    @telefono         NVARCHAR(30)  = NULL
    
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Persona SET
        nombre           = COALESCE(@nombre,           nombre),
        apellido         = COALESCE(@apellido,         apellido),
        sexo             = COALESCE(@sexo,             sexo),
        nacionalidad     = COALESCE(@nacionalidad,     nacionalidad),
        fecha_nacimiento = COALESCE(@fecha_nacimiento, fecha_nacimiento),
        direccion        = COALESCE(@direccion,        direccion),
        id_localidad     = COALESCE(@id_localidad,     id_localidad),
        email            = COALESCE(@email,            email),
        telefono         = COALESCE(@telefono,         telefono)
    WHERE id_persona = (SELECT id_persona FROM Paciente WHERE id_paciente = @id_paciente);

   
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Turno_Asignar]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ALTER: verificacion de colision en ventana de 60 minutos
CREATE PROCEDURE [dbo].[sp_Turno_Asignar]
    @id_medico   INT,
    @id_paciente INT,
    @fecha_hora  DATETIME,
    @nuevo_id    INT           OUTPUT,
    @mensaje     NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Turno
               WHERE id_medico   = @id_medico
                 AND ABS(DATEDIFF(MINUTE, fecha_hora, @fecha_hora)) < 60
                 AND activo      = 1)
    BEGIN
        SET @mensaje  = 'El médico ya tiene un turno asignado en ese horario.';
        SET @nuevo_id = -1;
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM Turno
               WHERE id_paciente = @id_paciente
                 AND ABS(DATEDIFF(MINUTE, fecha_hora, @fecha_hora)) < 60
                 AND activo      = 1)
    BEGIN
        SET @mensaje  = 'El paciente ya tiene un turno asignado en ese horario.';
        SET @nuevo_id = -1;
        RETURN;
    END

    INSERT INTO Turno (id_medico, id_paciente, fecha_hora)
    VALUES (@id_medico, @id_paciente, @fecha_hora);

    SET @nuevo_id = SCOPE_IDENTITY();
    SET @mensaje   = 'Turno asignado correctamente.';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Turno_Cancelar]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Turno_Cancelar]
    @id_turno INT,
    @mensaje  NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Turno SET activo = 0
    WHERE id_turno = @id_turno AND estado = 'pendiente' AND activo = 1;
    IF @@ROWCOUNT = 0
        SET @mensaje = 'El turno no existe, ya fue cancelado o ya tiene asistencia cargada.';
    ELSE
        SET @mensaje = 'Turno cancelado correctamente.';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Turno_ListarPorMedico]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Turno_ListarPorMedico]
    @id_medico   INT,
    @busqueda    NVARCHAR(100) = NULL,
    @estado      NVARCHAR(10)  = NULL,
    @fecha_desde DATE          = NULL,
    @fecha_hasta DATE          = NULL,
    @pagina      INT           = 1,
    @por_pagina  INT           = 10,
    @total_filas INT           OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT @total_filas = COUNT(*)
    FROM   vw_Turnos vt
    WHERE  vt.id_medico = @id_medico
      AND  (@busqueda IS NULL
            OR vt.Paciente    LIKE '%' + @busqueda + '%'
            OR vt.PacienteDNI LIKE '%' + @busqueda + '%')
      AND  (@estado      IS NULL OR vt.Estado = @estado)
      AND  (@fecha_desde IS NULL OR vt.Fecha >= @fecha_desde)
      AND  (@fecha_hasta IS NULL OR vt.Fecha <= @fecha_hasta);

    SELECT *
    FROM   vw_Turnos vt
    WHERE  vt.id_medico = @id_medico
      AND  (@busqueda IS NULL
            OR vt.Paciente    LIKE '%' + @busqueda + '%'
            OR vt.PacienteDNI LIKE '%' + @busqueda + '%')
      AND  (@estado      IS NULL OR vt.Estado = @estado)
      AND  (@fecha_desde IS NULL OR vt.Fecha >= @fecha_desde)
      AND  (@fecha_hasta IS NULL OR vt.Fecha <= @fecha_hasta)
    ORDER  BY vt.FechaHora
    OFFSET (@pagina - 1) * @por_pagina ROWS
    FETCH  NEXT @por_pagina ROWS ONLY;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Turno_RegistrarEstado]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Turno_RegistrarEstado]
    @id_turno    INT,
    @estado      NVARCHAR(10),
    @observacion NVARCHAR(500) = NULL,
    @mensaje     NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF @estado = 'presente' AND (@observacion IS NULL OR LEN(LTRIM(@observacion)) = 0)
    BEGIN SET @mensaje = 'Los presentes requieren una observación de consulta.'; RETURN; END

    UPDATE Turno SET estado = @estado, observacion = @observacion
    WHERE  id_turno = @id_turno AND activo = 1 AND estado = 'pendiente';

    IF @@ROWCOUNT = 0
        SET @mensaje = 'No se pudo actualizar. El turno no existe o ya tiene estado cargado.';
    ELSE
        SET @mensaje = 'Estado del turno registrado correctamente.';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuario_Medico_Guardar]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ALTER: columna renombrada [password_hash] -> [password]
CREATE PROCEDURE [dbo].[sp_Usuario_Medico_Guardar]
    @id_medico INT,
    @username  NVARCHAR(60),
    @password  NVARCHAR(256),
    @mensaje   NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM Usuario WHERE username = @username AND (id_medico <> @id_medico OR id_medico IS NULL))
    BEGIN SET @mensaje = N'El nombre de usuario ya está en uso.'; RETURN; END
    IF EXISTS (SELECT 1 FROM Usuario WHERE id_medico = @id_medico)
        UPDATE Usuario SET username = @username, [password] = @password, activo = 1 WHERE id_medico = @id_medico;
    ELSE
        INSERT INTO Usuario (username, [password], tipo, id_medico) VALUES (@username, @password, N'medico', @id_medico);
    SET @mensaje = N'Usuario guardado correctamente.';
END;
GO
/****** Object:  StoredProcedure [dbo].[UsuariosPorPagina]    Script Date: 3/7/2026 02:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UsuariosPorPagina]
    @PageNumber INT = 1,
    @PageSize INT = 10,
    @TotalRecords INT OUTPUT
AS
BEGIN
    IF @PageNumber < 1 SET @PageNumber = 1;
    IF @PageSize < 1 SET @PageSize = 10;

    DECLARE @OffsetRows INT = (@PageNumber - 1) * @PageSize;

    SELECT @TotalRecords = COUNT(*) 
    FROM dbo.Usuario;

    SELECT 
        *
    FROM 
        dbo.Usuario
    ORDER BY 
        id_usuario ASC 
    OFFSET @OffsetRows ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Provincia"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 102
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Localidad"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 119
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_LocalidadesXProvincia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_LocalidadesXProvincia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "m"
            Begin Extent = 
               Top = 282
               Left = 842
               Bottom = 412
               Right = 1012
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "pe"
            Begin Extent = 
               Top = 118
               Left = 572
               Bottom = 248
               Right = 755
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "l"
            Begin Extent = 
               Top = 100
               Left = 318
               Bottom = 213
               Right = 488
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "pr"
            Begin Extent = 
               Top = 231
               Left = 77
               Bottom = 327
               Right = 247
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "e"
            Begin Extent = 
               Top = 289
               Left = 1487
               Bottom = 385
               Right = 1657
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "u"
            Begin Extent = 
               Top = 51
               Left = 1238
               Bottom = 181
               Right = 1408
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 6825
         Alias = 900
         Table = ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Medicos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Medicos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Medicos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "vw_Medicos"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 418
               Right = 308
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Medicos_Activos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Medicos_Activos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "vw_Pacientes"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 363
               Right = 281
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Pacientes_Activos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Pacientes_Activos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "t"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "m"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "pem"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 221
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "e"
            Begin Extent = 
               Top = 138
               Left = 259
               Bottom = 234
               Right = 429
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "pa"
            Begin Extent = 
               Top = 234
               Left = 259
               Bottom = 347
               Right = 429
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "pep"
            Begin Extent = 
               Top = 333
               Left = 31
               Bottom = 463
               Right = 214
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Turnos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'        Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Turnos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Turnos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "vw_Turnos"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 343
               Right = 319
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Turnos_Activos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Turnos_Activos'
GO
USE [master]
GO
