<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Plantilla.master.cs" Inherits="Vistas.Administracion.Plantilla" %>

<!DOCTYPE html>
<html lang="es">
<head runat="server">
    <meta charset="utf-8" />
    <title>Layout de la Aplicación</title>
    <link rel="stylesheet" href="~/CSS/principal.css" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server"></asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        
        <!-- MENU -->
        <div class="sidebar">
            <div class="sidebar-logo">
                <h2><%= nombreClinica %></h2>
            </div>

            <div class="sidebar-menu">
                <!-- MENU CONTROL -->
                <asp:Menu ID="MenuPrincipal" runat="server" Orientation="Vertical" RenderingMode="List" CssClass="menu-asp">
                    <Items>
                    </Items>
                </asp:Menu>
            </div>

            <!-- ACCESO DE USUARIO -->
            <div class="sidebar-user">
                <div class="user-info">
                    <asp:Label ID="lblUserName" runat="server" CssClass="nombre" Text=""></asp:Label>
                     <asp:HyperLink ID="hlCerrarSesion" runat="server" Text="Cerrar Sesion" NavigateUrl="/Logout.aspx"></asp:HyperLink>
                </div>
            </div>
        </div>

        <!-- ZONA DE CONTENIDO (Cambia según el ítem clickeado) -->
        <div class="contenido-principal">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
                <!-- Aquí se inyectan las páginas hijas -->
            </asp:ContentPlaceHolder>
        </div>

    </form>
</body>
</html>